<h1>スレッド一覧</h1>
<div>
  <%= form_tag(admin_users_path, method: :get) do %>
    <%= text_field_tag(:title_search, '', class: "form-control", placeholder: 'スレッド名') %><br>
    <%= text_field_tag(:comment_search, '', class: "form-control", placeholder: 'コメント内容') %><br>
    <%= text_field_tag(:user_search, '', class: "form-control", placeholder: '作成者(苗字・名前・ニックネーム・苗字 名前・メールアドレス)') %>
    <br>
    <%= submit_tag "検索", class: 'btn btn-success' %>
  <% end %>
</div>
<br><br><br>

<table class="table">
  <thead>
  <tr>
    <th>No.</th>
    <th>ID.</th>
    <th>スレッド名</th>
    <th>作成者ID</th>
    <th>作成者</th>
    <th>メールアドレス</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th>削除</th>
  </tr>
  </thead>
  <tbody>
  <% @boards.each_with_index do |board, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= board.id %></td>
    <td><%= board.title %></td>
    <td><%= board.user.id %></td>
    <td><%= board.user.get_full_name %></td>
    <td><%= board.user.email %></td>
    <td><%= board.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
    <td><%= board.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
    <td>削除リンク</td>
  </tr>
  <% end %>


    <%# @users.each_with_index do |user, i| %>
<!--      <tr>-->
<!--        <td><%#= i + 1 %></td>-->
<!--        <td><%#= user.id %></td>-->
<!--        <td><%#= user.last_name %></td>-->
<!--        <td><%#= user.first_name %></td>-->
<!--        <td><%#= user.nickname %></td>-->
<!--        <td><%#= user.email %></td>-->
<!--        <td><%#= user.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>-->
<!--        <td><%#= user.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>-->
<!--        <td>-->
          <%#= link_to "削除", admin_user_path(user), method: :delete, class: "btn btn-danger", data: {confirm: "削除してよろしいですか？"} %>
<!--        </td>-->
<!--      </tr>-->
    <%# end %>
  </tbody>
</table>
<!--Todo: スタイル調整-->
<div><%= paginate @boards %></div>