<div><%= link_to '新規作成', new_admin_team_path %></div>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>球団</th>
    <th>リーグ</th>
    <th>スタジアム</th>
    <th>住所</th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.get_league_name %></td>
    <td><%= item.stadium %></td>
    <td><%= item.address %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<!--Todo: スタイル調整-->
<div><%= paginate @teams %></div>