<div><%= link_to '新規作成', new_admin_team_path %></div>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>球団</th>
    <th>リーグ</th>
    <th>スタジアム</th>
    <th>住所</th>
    <th>編集</th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
  <tr>
    <td><%= team.id %></td>
    <td><%= team.name %></td>
    <td><%= team.get_league_name %></td>
    <td><%= team.stadium %></td>
    <td><%= team.address %></td>
    <td><%= link_to("編集", edit_admin_team_path(team), class: 'btn btn-success') %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<!--Todo: スタイル調整-->
<div><%= paginate @teams %></div>